.app_wrap {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h "
    "n m";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr ;
}
.main {
  grid-area: m;
  background-color: darkseagreen ;
}

.footer{
  grid-area: f;
}
